/*

!/QRCodeReader/
/QRCodeReader/__pycache__/

!/pyzbar/
/pyzbar/__pycache__/
/pyzbar/tests/
/pyzbar/scripts/
/pyzbar/.*

!/templates/
/templates/*
!/templates/*.html

!/test/
/test/*
!/test/*.py

!/static/
/static/*
!/static/*.js

!/.gitignore
!/*.py
!/Procfile
!/Aptfile
!/requirements.txt
!/LICENSE
!/README.md
