/*

!/QRCodeReader/
/QRCodeReader/__pycache__/
/QRCodeReader/.*

!/QRCodeReader/test_images/

!/QRCodeReader/pyzbar/
/QRCodeReader/pyzbar/__pycache__/
/QRCodeReader/pyzbar/tests/
/QRCodeReader/pyzbar/scripts/
/QRCodeReader/pyzbar/.*

!/templates/
/templates/*
!/templates/*.html

!/test/
/test/*
!/test/*.py
!/test/images/*.jpg
!/test/images/*.png

!/static/
/static/*
!/static/*.js
!/static/*.css

*.pyc

!/.gitignore
!/*.py
!/Procfile
!/Aptfile
!/requirements.txt
!/LICENSE
!/README.md
