.card-text {
    color: #606060;
}

.card {
    background-color: #f0f0f0;
}

#header-div {
    background-color: #F0F0F0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
