<!doctype html>
<html>
  <head>
    <title>北美微信群</title>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="keywords" content="QRCode">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS files -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="/static/wxqrmanager.css" rel="stylesheet">

    <!-- Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js" integrity="sha384-lZmvU/TzxoIQIOD9yQDEpvxp6wEU32Fy0ckUgOH4EIlMOCdR823rg4+3gWRwnX1M" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <script src="/static/wxqrmanager.js" type="text/javascript"></script>
  </head>

  <body>
    <header class="d-flex justify-content-center align-items-center p-2 mb-4">
      <h3>
        北美微信群
      </h3>
    </header>

    <div class="container">
      <!-- Operations bar -->
      <div id="operation-bar" class="row">
        <!-- Search bar -->
        <div id="search-bar" class="col-8 col-md-4 d-flex flex-row align-items-center">
          <i id="search-button" class="fa fa-search"></i>
          <input id="search-text" type="search" class="form-control mx-2 px-2 py-0" placeholder="input keywords">
        </div>

        <!-- Change view button group -->
        <div id="change-view-button-group" class="col-md-2 offset-md-1 justify-content-center btn-group" role="group" aria-label="Basic example">
          <button type="button" id="change-view-list-button" class="btn btn-outline-primary change-view-button active">List</button>
          <button type="button" id="change-view-block-button" class="btn btn-outline-primary change-view-button">Block</button>
        </div>

        <!-- Upload button -->
        <div class="col-4 col-md-2 offset-md-3">
          <button class="btn btn-primary float-right" data-toggle="modal" data-target="#upload-modal">分享群</button>
        </div>
      </div>

      <!-- Tag list of selection -->
      <div class="row">
        <div id="tags-list-div" class="col">
        </div>
      </div>

      <!-- QRCode cards container -->
      <div class="row">
        <!-- QRCode cards list view template -->
        <div id="card-list-tmpl" class="card border-dark d-none my-3">
          <div class="card-body p-2">
            <div class="row">
              <!-- QRCode information -->
              <div class="col-9">
                <!-- Title -->
                <h5 class="card-title"></h5>
                <!-- Description -->
                <p class="card-text mb-2"></p>
                <!-- Tags -->
                <div class="card-badges"></div>
              </div>

              <div class="col-3 py-0 pl-0 pr-3">
                <!-- QRCode image -->
                <a href=""><img class="qrcode-img img-fluid"></a>
                <!-- Read time -->
                <div class="pl-1"><i class="fas fa-eye"></i><span class="pl-1 read-time-span"></span></div>
              </div>
            </div>
          </div>
        </div>

        <!-- QRCode cards block view template -->
        <div id="card-block-tmpl" class="card border-dark d-none my-3">
          <!-- QRCode image -->
          <a href=""><img class="qrcode-img w-100"></a>

          <!-- Read time -->
          <div class="pl-4"><i class="fas fa-eye"></i><span class="pl-1 read-time-span"></span></div>

          <!-- QRCode information -->
          <div class="card-body">
            <!-- Title -->
            <h5 class="card-title"></h5>
            <!-- Description -->
            <p class="card-text mb-2"></p>
            <!-- Tags -->
            <div class="card-badges"></div>
          </div>
        </div>

        <!-- QRCode card list -->
        <div id="group-list-div" class="col-12">
        </div>
      </div>

      <!-- Upload QRCode Modal -->
      <div id="upload-modal" class="modal fade" tabindex=-1 role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"> 上传二维码 </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <img id="upload-img-preview" class="img-thumbnail collapse w-100">
              <form id="upload-form" action="/api/v1/qrcode" method="post" enctype="multipart/form-data" class="py-2">
                <div class="input-group">
                  <div class="custom-file">
                    <input id="upload-file-input" type="file" name="img" class="custom-file-input">
                    <label id="upload-file-label" class="custom-file-label" for="upload-file-input" style="overflow:hidden">选择文件</label>
                  </div>
                </div>
              </form>

              <div id="upload-progress-div" class="progress mb-1">
                <div id="upload-progress-bar" class="progress-bar" role="progressbar" style="width:0"></div>
              </div>

              <div id="upload-success-div" class="alert alert-success collapse" role="alert">
              </div>

              <div id="upload-error-div" class="alert alert-danger collapse" role="alert">
              </div>

              <div id="upload-data-div" class=collapse>
                <div id="upload-data-name-div">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">群名称</span>
                    </div>
                    <input type="text" id="upload-data-name-input" class="form-control">
                  </div>
                </div>

                <div id="upload-data-description-div">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">群描述</span>
                    </div>
                    <input type="text" id="upload-data-description-input" class="form-control">
                  </div>
                </div>

                <div id="upload-data-tags-div">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">群标签（以空格隔开）</span>
                    </div>
                    <input type="text" id="upload-data-tags-input" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <button type="button" id="upload-delete-button" class="btn btn-danger disabled">取消上传</button>
              <button type="button" id="upload-confirm-button" class="btn btn-primary disabled">确认</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Display QRCode Modal -->
      <div id="display-modal" class="modal fade" tabindex=-1 role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 id="display-group-name" class="modal-title">  </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img id="display-img-preview" class="img-thumbnail">
              <p id="display-group-description" class="my-2"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <a id="display-img-download" download="image.jpg"><button type="button" class="btn btn-primary">下载二维码</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
