<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>qrcode</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    </head>
    <body>
        <!--nav for the navigation bar-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">BackEndTest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qrcodeget">qrcodeget</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/qrcodepost">qrcodepost <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/groups">groups</a>
                    </li>
                </ul>
            </div>
        </nav>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function() {
                              var file = $('#file');
                              });
            function submit() {
                  var xhr = new XMLHttpRequest();
                  xhr.open("POST", "https://wxqrcodemanager.herokuapp.com/api/v1/qrcode", true);
                  xhr.setRequestHeader("Content-type", "multipart/form-data");
                  xhr.onreadystatechange = function () {
                      if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                          alert(xhr.responseText);
                      }
                  };
                  xhr.send(file);
            }
        </script>
        <h5>placeholder</h5>
        <h5>placeholder</h5>
        <h5>file:</h5>
        <input type="file" name="myFile" class="enter" id="file"/>
        <input type="button" value="Request" onclick="submit();"/>
    </body>
</html>
