<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>TEST</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
                </head>
    <body>
        <!--nav for the navigation bar-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">BackEndTest</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Index <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qrcodeget">qrcodeget</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qrcodepost">qrcodepost</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/groups">groups</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
