<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <title>TEST</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    </head>
    <body>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <h1>Back End Test Page</h1>
        <br />
        <div>
            <h3>QR code GET</h3>
            <script type="text/javascript">
            $(document).ready(function() {
                var id = $('#id');
                var url = $('#url');
            });
            function submit() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", url.value, true);
                xhr.setRequestHeader("Content-type", "multipart/form-data");
                xhr.onreadystatechange = function () {
                  if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    alert(xhr.responseText);
                  }
                };
                xhr.send(id.value);
            }
        </script>
            <h6>id:</h6>
            <input type="text" name="enter" class="enter" value="" id="id"/>
            <input type="button" value="Request" onclick="submit();"/>
        </div>
        <br />
        <div>
            <h3>QR code POST</h3>
            <script type="text/javascript">
            $(document).ready(function() {
                var file = $('#file');
                var url  = $('#url');
            });
            function submit() {
                  var xhr = new XMLHttpRequest();
                  xhr.open("POST", url.value, true);
                  xhr.setRequestHeader("Content-type", "multipart/form-data");
                  xhr.onreadystatechange = function () {
                      if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                          alert(xhr.responseText);
                      }
                  };
                  xhr.send(file);
            }
            </script>
            <h6>file:</h6>
            <input type="file" name="myFile" class="enter" id="file"/>
            <input type="button" value="Request" onclick="submit();"/>
        </div>
        <br />
        <div>
            <h3>Groups</h3>
            <script type="text/javascript">
            $(document).ready(function() {
                var keywords = $('#keywords');
                var url = $('#url');
            });
            function submit() {
                var xhr = new XMLHttpRequest();
                xhr.open("GET", url.value, true);
                xhr.setRequestHeader("Content-type", "multipart/form-data");
                xhr.onreadystatechange = function () {
                  if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                    alert(xhr.responseText);
                  }
                };
                xhr.send(keywords.value);
            }
            </script>
            <h6>keywords:</h6>
            <input type="text" name="enter" class="enter" value="" id="keywords"/>
            <input type="button" value="Request" onclick="submit();"/>
        </div>
        <br />
        <h4>url:</h4>
        <input type="text" name="enter" class="enter" value="" id="url"/>
    </body>
</html>
